// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  .5em;
  padding-right: .5em;
  //padding-right: 1.5rem;
  margin-left:  1.681em;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
}

footer {
  margin-bottom: 2rem;
}
