// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1em;
  //padding-right: 1.5rem;
  margin-left:  1.681em;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}
