$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

//$red: #ac4142;
//$orange: #d28445;
//$yellow: #f4bf75;
//$green: #90a959;
//$cyan: #75b5aa;
//$blue: #268bd2;
//$blue: #6a9fb5;
//$brown: #8f5536;

$root-font-family: "Anonymous Pro";
$root-font-size: 16px;
$root-line-height: 1.5;

//Solarized Stuff
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$body-color: $base1; //base02
$body-bg: $base02;
$link-color: $red;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: "Anonymous Pro";
$code-color: $base3;


